body {
	background-color: #1c1c1c;
}
input {
    color: white;
}
h2{
    color: #eee;
    font-family: 'avenir-book';
    font-size: 28px;
    font-weight:bold;
    padding: 6px 12px;
}
h3 {
    color: #eee;
    font-family: 'avenir-book';
    font-size: 24px;
    font-weight:lighter;
    padding: 2px 40px;
}
input[type="file"]{
    display:none;
}
.upload{
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    background: #4d4d4d;
    color: white;
    font-family: 'avenir-book';
    font-size: 18px;
    font-weight: bold;
}
