input[type="file"]{
    display:none;
}
.upload{
    border:1px solid #333;
    display:inline-block;
    border-radius: 5px;
    padding: 5px 12px;
    cursor: pointer;
    background: #d4d4d4;
    color:black;
    font-family: 'avenir-book';
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 8px;
    top: 80px;
}
.scriptArea{
    border:1px solid #777;
    border-radius: 5px;
    position: absolute;
    padding: 8px 8px;
    left: 5px;
    top: 125px;
    display: none;
}
.result{
    font-family: 'avenir-book';
    font-size: 14pt;
    font-weight: bold;
    visibility: auto;
}